:root {
    --main-color: #278e93;
    --main-color-black: #181818;
    --main-text-color: #385470;
    --main-link-color: #385470;
    --accent-color: #b3d168;
    --bler-color: 0deg 0% 98%;
    --glay-color: #4c4c4c;
    --smalwhite-color: #fafafa;
    --white-color: #fff;
    --black-color: #282c34;
    --list-color-01: #5c9ee7;
    --list-color-02: #f1f8ff;
    --fontsize-15: 4.883rem;
    --fontsize-14: 3.906rem;
    --fontsize-13: 3.125rem;
    --fontsize-12: 2.500rem;
    --fontsize-11: 2.000rem;
    --fontsize-10: 1.600rem;
    --fontsize-09: 1.280rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-text-color: #d4d4d4;
        --main-link-color: #4ca3bd;
        --bler-color: 0deg 0% 2%;
        --glay-color: #ababab;
        --smalwhite-color: #4c4e54;
        --white-color: #282c34;
        --black-color: #fff;
        --list-color-01: #2d5279;
        --list-color-02: #5b646d;
    }
}

* {
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

ul,ol {
    list-style: none;
}

h1,h2,h3,h4 {
    line-height: 1.4em;
}

p,ul,li,dt,dd,th,td {
    line-height: 1.8em;
}

figure,ul,ol,p {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}



html {
    font-size: 62.5%; /*remサイズ指定用の文字サイズ全体統一*/
    line-height: 1;
}

body {
    background: var(--white-color); /*全体背景色 - もしくはパターン*/
    color: var(--main-text-color); /*ベース文字色*/
    /* 「BIZ UDPゴシック」をWindowsで指定 */
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", Arial, メイリオ, Meiryo, sans-serif !important;
    font-size: var(--fontsize-10);
    -webkit-text-size-adjust: 100%; /*文字間の隙間を統一する*/
}

a {
    color: var(--main-link-color);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

a:hover {
    color: var(--main-color);
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.container-2 {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.site-header {
    height: 50px;
}

.App-header {
    background-color: var(--main-color-black);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: hsl(var(--bler-color) / 70%);
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.App-logo {
    font-size: var(--fontsize-11);
    margin: 0;
    line-height: 1;
    padding: 14px 0;
    text-align: center;
}

.App-logo a {
    background: -webkit-linear-gradient(0deg, var(--main-color), var(--accent-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--main-color);
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
}

.btn-trigger {
    display: block;
    position: fixed;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 12;
}
.btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--black-color);
    border-radius: 2px;
}
.btn-trigger, .btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
    top: 0;
}
.btn-trigger span:nth-of-type(2) {
    top: 10px;
}
.btn-trigger span:nth-of-type(3) {
    bottom: 0;
}

#navigation:checked ~ header .btn-trigger span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(315deg);
    transform: translateY(10px) rotate(315deg);
}
#navigation:checked ~ header .btn-trigger span:nth-of-type(2) {
    opacity: 0;
}
#navigation:checked ~ header .btn-trigger span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(-315deg);
    transform: translateY(-10px) rotate(-315deg);
}

.App-navbar {
    background-color: var(--main-color-black);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: hsl(var(--bler-color) / 70%);
    box-sizing: border-box;
    height: 0;
    padding: 40px 16px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    width: 100%;
    z-index: -1;
}

.App-navbar::before {
    border: solid 2px var(--main-color);
    box-sizing: border-box;
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    transition: all 0.4s ease-out;
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .App-navbar {
        padding-left: 60px;
        padding-right: 60px;
    }

    .App-navbar::before {
        height: calc(100% - 80px);
        width: calc(100% - 80px);
    }
}

.App-navbar-item {
    height: 100%;
}

.App-navbar-list {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.6s 0.4s ease-out;
}

.App-navbar-list:nth-child(n+2) {
    margin-top: 40px;
}

.App-navbar-list-parent {
    color: var(--main-color);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    display: inline-block;
    margin-left: 16px;
    padding: 4px 16px 8px;
    position: relative;
    text-decoration: none;
}

.App-navbar-list-parent::before,
.App-navbar-list-parent::after {
    border-top: solid 1px;
    content: "";
    width: 54%;
    position: absolute;
    top: 0;
}

.App-navbar-list-parent::before {
    left: 0;
    transform-origin: top left;
    transform: rotate(-24deg);
}

.App-navbar-list-parent::after {
    right: 0;
    transform-origin: top right;
    transform: rotate(24deg);
}

.App-navbar-list-tag {
    border-top: solid 1px var(--main-color);
}

.App-navbar-list .tag-group {
    padding: 16px;
}

#navigation:checked ~ header .App-navbar {
    height: 100vh;
    opacity: 1;
    overflow: auto;
    z-index: 11;
}

#navigation:checked ~ header .App-navbar-list {
    transform: translateY(0px);
    opacity: 1;
}

#navigation:checked ~ header .App-navbar::before {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
}

.heading-main {
     text-align: center;
}

.heading-main span{
    font-size: var(--fontsize-11);
    font-weight: normal;
    position: relative;
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom:0.5em;
    border-bottom: 1px solid var(--main-text-color);
}

@media (min-width: 768px) {
    .heading-main span{
        font-size: var(--fontsize-13);
    }
}

.heading-main span::before,
.heading-main span::after {
     position: absolute;
     top: 100%;
     left:50%;
     transform:translateX(-50%);
     content: '';
     border: 10px solid transparent;
}

.heading-main span::before {
     border-top: 10px solid var(--main-text-color);
}

.heading-main span::after {
     margin-top: -1px;
     border-top: 10px solid var(--white-color);
}

.bio {
    border-color: var(--accent-color) !important;
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
}

.bio::before {
    background-color: var(--accent-color);
    content: "";
    display: block;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    z-index: -1;
}

.bio-description dt {
    font-weight: 800;
}

.bio-description dd {
    font-size: var(--fontsize-09);
}
